* {
  padding: 0%;
  margin: 0%;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: black;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 96%;
  width: 98%;
  padding: 1%;
  padding-top: 0.9%;
  background-color: rgb(0, 0, 0);
}

.Game {
  display: grid;
  height: 90%;
  width: 60%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  border:rgba(85,40,16,255) 2pc solid; 
}

div[name="Piece"]{
  display: flex;
  justify-content: center;
  align-items: center;
  
}